body {
    margin:10px;
}

img {
    width: 200px;
    height: 200px;
}

.centerimg {
    margin-left: 25%;
}

.floatright {
    float:right;
}

table {
    width: 100%;
}

table, td, tr {
    border:solid 1px black;
    border-spacing: 0;
}

td {
    width: 300px;
    height: 30px;
}

.toprow {
    border-bottom: solid 2px;
    text-align: center;
}

.firstcol {
    border-right: solid 2px;
    width: 10px;
    font-size: 20px;

}

td p {
    font-size: 10px;
}